
body{
    background-image: url("./mack_up_arcade.jpg");
}
table{
    position: absolute;
    padding-left: 320px;
    padding-top: 360px;
}
td{
   border: 2px solid black; 
   width: 25px;
   height: 25px;
}

.color1{
    background-color: red;
}

button{
    position: relative;
    top: 791px;
    left: 410px;
    color: red;
    background-color:#141414;
    border: none;
    font-size: 1.75em;
}